
<footer class="page-footer red darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Kontakt</h5>
          <p class="grey-text text-lighten-4">060/33-73-884
            <br> Radnička 19
            <br> 31310 Čajetina, Srbija</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Korisni linkovi</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Kako koristiti ovaj sajt?</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Ko je developer team?</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Politika privatnosti</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">FAQs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright Antiheroji SSA - Sva prava zadržana!
        <a class="grey-text text-lighten-4 right" href="#!">O nama</a>
      </div>
    </div>
  </footer>
  