
<footer class="page-footer red darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Kontakt</h5>
          <p class="grey-text text-lighten-4">+381 65/962-56-68
            <br> Radnička 56
            <br> 32000 Čačak, Srbija</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Korisni linkovi</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3">Kako koristiti ovaj sajt?</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3">Ko je developer team?</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3">Politika privatnosti</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3">FAQs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright Apartment logs - Sva prava zadržana!
        <a class="grey-text text-lighten-4 right">O nama</a>
      </div>
    </div>
  </footer>
  