<ng-progress></ng-progress>
<div id="main-wrapper"></div>
<div class="container z-depth-1">
  <i mz-icon [icon]="'account_circle'" [size]="'medium'" id="loginIcon"></i>
  <div class="row" id="formContent">
    <div class="col s12 m12 l12 xl12">
      <ul class="tabs">
        <li class="tab col s6 m6 l6 xl6" id="login" *ngIf="loginTab">
          <a href="#test1" class="active">LOGIN</a>
        </li>
        <li class="tab col s6 m6 l6 xl6" id="checkUsernameLink">
          <a href="#test2">RESET</a>
        </li>
        <li class="tab col s12 m12 l12 xl12" id="resetpassword">
          <a href="#test3">Resetuj lozinku</a>
        </li>
      </ul>
    </div>
    <form id="test1" class="col s12 m12 l12 xl12" (ngSubmit)="loginUser()" [formGroup]="loginForm" autocomplete="off" *ngIf="loginFormShow">
      <mz-input-container>
        <input mz-input [label]="'Korisničko ime'" [validate]="false" id="username-input" placeholder="Unesite korisničko ime"
          type="text" name="username" class="input-field" autofocus  formControlName="username">
      </mz-input-container>
      <br>
      <mz-input-container>
        <input mz-input [label]="'Lozinka'" [validate]="false" id="password-input" placeholder="Unesite lozinku" type="password"
          name="password" formControlName="password">
      </mz-input-container>
      <br>
      <button mz-button class="red darken-1 send-button" type="submit">Ulogujte se</button>
    </form>
    <form id="test2" class="col s12 m12 l12 xl12" (ngSubmit)="checkResetPassword()" [formGroup]="resetForm" autocomplete="off" *ngIf="reset">
      <mz-input-container>
        <input mz-input [label]="'Korisničko ime'" [validate]="false" id="username-reset-input" placeholder="Unesite korisničko ime"
          type="text" name="usernameCheck" class="input-field" autofocus formControlName="resetUsername">
      </mz-input-container>
      <br>
      <mz-input-container>
        <input mz-input [label]="'Ime omiljenog ljubimca'" [validate]="false" id="pet-check-input" placeholder="Unesite ime omiljenog ljubimca"
          type="password" name="pet-check" formControlName="resetPet">
      </mz-input-container>
      <br>
      <mz-input-container>
        <input mz-input [label]="'Ime omiljenog jela'" [validate]="false" id="meal-check-input" placeholder="Unesite ime omiljenog jela"
          type="password" name="meal-check" formControlName="resetMeal">
      </mz-input-container>
      <br>
      <button mz-button class="red darken-1 send-button" type="submit">Pošalji</button>
    </form>
    <form id="test3" class="col s12 m12 l12 xl12" *ngIf="resetFormShow" (ngSubmit)="resetPassword()" [formGroup]="newPassForm" autocomplete="off">
      <br>
      <br>
      <mz-input-container>
        <input mz-input [label]="'Novu lozinka'" [validate]="false" id="new-password-check" placeholder="Unesite novu lozinku"
          type="password" name="new-password-check" formControlName="newPass">
      </mz-input-container>
      <br>
      <mz-input-container>
        <input mz-input [label]="'Ponovite novu lozinku'" [validate]="false" id="new-password-repeat-check" placeholder="Ponovite novu lozinku"
          type="password" name="new-password-repeat-check" formControlName="newPassRepeated">
      </mz-input-container>
      <br>
      <button mz-button class="red darken-1 send-button" type="submit">Resetuj lozinku</button>
    </form>
  </div>
</div>
