#main-wrapper {
  height: 100vh;
  background-color: red;
  position: relative;
  background: url('../../assets/apartments.jpg') center fixed;
  background-size: cover;
  opacity: 0.6;
}

.container {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  max-width: 500px;
  padding: 60px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  #loginIcon {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 99;
  }

  #formContent {
    margin: 40px 10% 0px 30px;

    .send-button {
      position: absolute;
      left: 50%;
      top: 90%;
      transform: translate(-50%, -90%);
    }

    #test1,
    #test2 {
      margin-top: 40px;
    }

    #resetpassword {
      display: none;
    }
  }
}


// reset default stylings

:host ::ng-deep input[type=text]:not(.browser-default):focus,
:host ::ng-deep input[type=password]:not(.browser-default):focus {
  border-bottom: 1px solid #E53935 !important;
  box-shadow: 0 1px 0 0 #E53935;
}

:host ::ng-deep input[type=text]:not(.browser-default):focus+label,
:host ::ng-deep input[type=password]:not(.browser-default):focus+label {
  color: #E53935;
}

:host ::ng-deep ul:not(.browser-default) {
  background-color: transparent;
}