<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Apartment logs - Evidencija</a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
   <!-- Navbar links -->
   <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="collapsibleNavbar" >
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item">
            <div class="dropdown" dropdown>
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" dropdownToggle>
                  Kontakt info
                </button>
                <div class="dropdown-menu" *dropdownMenu>
                  <div class="dropdown-item" href="#">
                      <i class="material-icons inline-icon">phone</i> 064/33-73-885
                  </div>
                </div>
              </div>
        </li>
      </ul>
    </div> 
</nav>
