<div class="container">
  <hr>
  <form id="filter">
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label for="city">Izaberite grad:</label>
          <select id="city" [(ngModel)]="city" name="listOfCities" (change)="sendData()">
            <option value="Sve">Sve</option>
            <option *ngFor="let log of logs | unique: 'CityName'" value="{{log.CityName}}">{{log.CityName}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <hr>
</div>
